@import url('kosher-reset.css');

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/MyriadProRegular.otf');
}

@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('../fonts/MyriadProBold.otf');
}

body {
    width: 1010px;
    margin: auto;
    background: #f4f2f6;
}

main {
    width: 500px;
    margin: 43px auto 70px;
    color: #1f1f1f;
    font: 14px 'Myriad Pro Regular', sans-serif;
}

h1 {
    font: bold 36px Arial, sans-serif;
    text-align: center;
}

h3 {
    margin: 15px 0 20px;
    font: 18px 'Myriad Pro Bold', sans-serif;
}

figcaption {
    margin: 20px 0 19px;
}

img {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    border: 1px solid #8f8f8f;
}

.tel-link {
    color: #1f1f1f;
    font-style: normal;
    text-decoration: none;
}

a {
    color: #0056d3;
    font-style: italic;
}

.indented {
    padding-left: 37px;
}

ul {
    margin: 0 0 17px;
    padding-left: 16px;
}

ul span {
    padding-right: 14px;
    font-size: 20px;
    font-weight: bold;
    line-height: 16px;
}

.underlined {
    border-bottom: 1px solid;
}

.contacts {
    margin-bottom: 12px;
    padding-bottom: 18px;
}

.profile h3 {
    margin-top: 11px;
    margin-bottom: 21px;
}
